venv/

.DS_Store

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage

build/
*.egg-info/

Endpoint_API_server.egg-info/

*.db

endpoint/static/js/app.js
endpoint/static/js/app.js.map

node_modules/

package-lock.json

._*
.fuse*

uploads/
