<html>

<head>
  <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/admin/static/admin/css/bootstrap3/admin.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form method="POST" action="{{ url_for('user_views.login') }}">
            {{ form.csrf_token }}
          <div class="form-group">
            {{ form.username.label }} {{ form.username(size=20, class_="form-control") }}
          </div>
          <div class="form-group">
            {{ form.password.label }} {{ form.password(size=20, class_="form-control") }}
          </div>
          <div class="form-group">
            <input class="form-control btn btn-primary btn-login" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
