opster
Flask
Flask-WTF
Jinja2
itsdangerous
wsgiref
Flask-SQLAlchemy
alembic
passlib
Flask-Login
Flask-admin
uwsgi
git+https://github.com/ilmarinen/mediawiki.git@v6#egg=mediawiki
werkzeug
markupsafe
click
sqlalchemy
